:root { --rn-red:#bb312e; }
* { box-sizing: border-box; }
body { font-family: ui-sans-serif,system-ui,Segoe UI,Roboto,Helvetica,Arial,Apple Color Emoji,Segoe UI Emoji; }
a { color: inherit; text-decoration: none; }
button { cursor: pointer; }
